* {
  font-family: "Paytone One", sans-serif;
  overflow-x: hidden;
  box-sizing: border-box;
}
body {
  margin: 0;
}
.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none;
}
/* .nav-links {
  color: ;
} */
.text-grey {
  color: #869eaa !important;
}
.w-80 {
  width: 80%;
}
.w-30 {
  width: 30%;
}
.text-center {
  text-align: center;
}
.footer {
  height: 12rem;
  background-color: #0b2d39;
}
